<h1>Stocks</h1>

<p-table
  [value]="stocksWithFeeds()"
  [tableStyle]="{ 'min-width': '50rem' }"
  selectionMode="single"
  dataKey="stock.Id"
  (onRowSelect)="onRowSelect($event)"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  [rows]="10"
>
  <ng-template #header>
    <tr>
      @for (column of columns; track column.key) {
        <th scope="col">{{ column.header }}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-item>
    <tr [pSelectableRow]="item">
      @for (column of columns; track column.key) {
        @if (column.hasDynamicClass) {
          <td
            [class.positive]="(getClassValue(item, column) | changeClass) === 'positive'"
            [class.negative]="(getClassValue(item, column) | changeClass) === 'negative'"
            [class.neutral]="(getClassValue(item, column) | changeClass) === 'neutral'"
          >
            @if (column.pipe === 'formatPercent') {
              {{ getValue(item, column.field) | formatPercent }}
            } @else {
              {{ getValue(item, column.field) }}
            }
          </td>
        } @else {
          <td>
            @if (column.pipe === 'formatPrice') {
              {{ getValue(item, column.field) | formatPrice: getPipeArg(item, column) }}
            } @else if (column.pipe === 'formatPercent') {
              {{ getValue(item, column.field) | formatPercent }}
            } @else {
              {{ getValue(item, column.field) }}
            }
          </td>
        }
      }
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td [attr.colspan]="columns.length">Loading stocks...</td>
    </tr>
  </ng-template>
</p-table>
